:root {
  --color-background: #0b0f1b;
  --color-background-layout: #0b0f1b9a;
  --color-text: #c7c7c7;
  --color-font: #c7c7c7;
  --color-accent-1: #34396a;
  --color-accent-1-opacity: #34396a79;
  --color-accent-2: #3182ce;
  --color-accent-2-opacity: #3182ce79;

  --prescaler: 0rem;

  --size-font-small: calc(0.8rem - var(--prescaler));
  --size-font: calc(1rem - var(--prescaler));
  --size-font-medium: calc(1.2rem - var(--prescaler));
  --size-font-large: calc(1.4rem - var(--prescaler));
  --size-h1: calc(3rem - var(--prescaler));

  --size-navbar-text: 1.1rem;
  --size-navbar-height: 4rem;
  --size-footer-height: 4rem;
  --size-footer-text: 1.1rem;
  --size-icon: 1.5rem;

  --weight-normal: 400;
  --weight-heavy: 700;

  --container-height: calc(100vh - var(--size-navbar-height));
}

@media (max-width: 768px) {
  :root {
    --prescaler: 0.2rem;
  }
}
@media (max-width: 300px) {
  :root {
    --prescaler: 0.5rem;
  }
}
/* @media (max-width: 350px), (max-height: 768px) {
  :root {
    --size-h1: 2.4rem;
  }
} */ /*
@media (max-height: 350px) {
  :root {
    --size-h1: calc(12vh);
  }
}
@media (max-width: 360px) {
  :root {
    --size-h1: calc(12vw);
    --size-font-button: 16px;
  }
} */
